
.print-model-card {
    width: 100%;
    padding: 3rem;
    margin: 7px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px darkgrey;
}

.print-model {
    width: 100%;
}

.description {
    text-align: center;
}

.price {
    text-align: center;
}


