.page-content {
    margin: auto;
    max-width: 1250px;
    background-color: white;
    color: black;
}

@media (max-width: 630px)  {
    .page-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
  }

  @media (min-width: 630px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
  }

  @media (min-width: 1200px)  {
    .page-content {
        margin-top: 8%;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
  }

.page-content p {
    padding-bottom: 5%;
}

.blog-post-header {
    margin: 0;
}

.blog-post-header a {
    color: darkblue;
}

.blog-post {
    max-width: 1250px;
    margin: auto;
}

.blog-post-description {
    margin: 0;
}

@media only screen and (min-width: 800px) {
    .blog-post {
        margin: auto;
        font-size: 0.5em;
    }
}

.blog-post-header {
    color: black;
    font-size: 1.5rem;
}

.blog-post-description {
    color: black;
}

