.page-content {
    margin: auto;
}

@media (max-width: 630px)  {
    .page-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
  }

  @media (min-width: 630px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
  }

  @media (min-width: 1200px)  {
    .page-content {
        margin-top: 8%;
        max-width: 1000px;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
  }

.page-content p {
    padding-bottom: 25px;
}

.blog-post-header {
    margin: 0;
}

.blog-post-header a {
    color: darkblue;
}

.blog-post {
    max-width: 1000px;
    margin: auto;
}

.blog-post-description {
    margin: 0;
}

@media only screen and (min-width: 800px) {
    .blog-post {
        margin: auto;
    }
}
