

.page-content {
    margin-top: 0;
    background: white;
}

.experience-content {
    color: black;
    letter-spacing: 1.2px;
}

.experience-content a {
    letter-spacing: 1.2px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation: fadeIn 2.3s;
    animation: fadeIn 2.3s;
 }