.page-content {
    color: black;
}

.fish-cam-content {
    color: black;
    background-color: white;
}

.fish-image {
    padding-top: 3%;
    width: 100%;
}

@media (max-width: 800px) {
    .fish-cam-content{
      padding: 5%;
    }
}
