@media (max-width: 1080px){
    .main {
        padding: 0px 100px;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 0px 50px;
    }
}

@media (max-width: 480px){
    .main {
        padding: 0px 25px;
    }
}

.h1 {
    font-size: 4.5em;
    margin: 0;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.h2 {
    font-size: 3em;
    margin: 0;
    /*text-align: center;*/
    padding-right: 0;
    padding-left: 0;
}

.h3 {
    font-size: 2em;
    margin: 0;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.body-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.no-margin {
    margin: 0;
}

.centered {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.hidden {
    display: none;
}