/* * {
    box-sizing: border-box;
} */

.html {
    background: #fff;
    border: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@media (max-width: 630px)  {
    .page-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 630px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 1000px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 15.5rem;
        padding-right: 15.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
}

.page-content p {
    padding-bottom: 25px;
}

.h1 {
    padding-bottom: 1.5rem;
}

.h2 {
    padding-top: 5%;
    font-size: 2.5rem;
}

.h3 {
    margin-bottom: 2rem;
}

.p {
    font-size: 1.2rem;
}

.ol {
    font-size: 1.2rem;
}

.hidden {
    display: none;
    visibility: hidden;
}

.a {
    color:darkblue;
}

.grvsc-container {
    max-width: 100%;
    width: fit-content;
    min-width: 70%;
    margin-left: 5%;
}

.blog-post img {
    max-width: 100%;
}