@media (max-width: 630px)  {
    .page-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 630px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 1000px)  {
    .page-content {
        margin-top: 8%;
        padding-left: 15.5rem;
        padding-right: 15.5rem;
    }

    .mobile-nav {
        display: none;
        visibility: hidden;
    }
}

.page-content p {
    padding-bottom: 25px;
}

.hidden {
    display: none;
    visibility: hidden;
}



.grvsc-container {
    max-width: 100%;
    width: fit-content;
    min-width: 70%;
    margin-left: 5%;
}

.blog-post img {
    max-width: 100%;
}